node_modules/
.next/
out/
build/

# env
.env
.env.local
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# editors
.idea/
.vscode/
*.iml

# misc
*.log
next-env.d.ts
